<section class="signup middle-section">
    <div class="container">
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-width fa-cutlery" ></i></span>
            <input action-on-enter="admin.addProduct()" type="text" class="form-control" placeholder="product to add" aria-describedby="sizing-addon1" ng-model="admin.product">
        </div>
        <br>
        <button type="submit" class="btn btn-default" ng-click="admin.addProduct()">
            Submit</button>
    </div>
</section>