
<section id="shopping" class="middle-section">
<div class="container">
    
    <h2>my list</h2>

    <div ng-repeat="item in shoppingCtrl.shoppingList">
        {{item.product}}
        {{item.toBuy}}
    </div>

    <hr>
    
    <h2>offerings</h2>  
    <div ng-repeat="item in shoppingCtrl.products track by $index">
        {{item.product}}
    
        <button class="btn btn-default" ng-click="shoppingCtrl.decrease($index)">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
        <input type="number" class="form-control" ng-model="item.toBuy">
        <button class="btn btn-default" ng-click="shoppingCtrl.increase($index)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    
    <button class="btn btn-default" ng-click="shoppingCtrl.finish()">
        Bestätigen
    </button>

</div>
</section>