
<section id="shopping" class="middle-section">
<div class="container">
    



    
    <h2>available products</h2>

    <ul>
        <li ng-repeat="(id, product) in shoppingCtrl.products">
            {{product}}
            <button class="btn btn-default" ng-click="shoppingCtrl.decrease(product, id)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button><button class="btn btn-default" ng-click="shoppingCtrl.increase(product, id)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        </li>

    </ul>



    <h2>my list</h2>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="shopping in shoppingCtrl.shoppingList" ng-if="shopping.amount != 0">
            {{shopping.product}}
            <span class="badge">{{shopping.amount}}</span>
        </li>
    </ul>



    <button class="btn btn-default" ng-click="shoppingCtrl.finish()">
        Bestätigen
    </button>

</div>
</section>